<p id="notice"><%= notice %></p>
<h1 style="text-align: center;"><%= link_to 'ðŸš“NCICðŸš¨LOGðŸš“', '/pages/main' , class: "invisLink" %></h1>
<h1 style="text-align: center;"> <%= link_to 'ðŸ”« Recovered Guns', new_recovered_gun_path, class: "invisLink" %></h1>
<p style="text-align: center;">
<br><%= link_to 'ðŸš½Articles', articles_path, class: "invisLink"  %> | <%= link_to 'ðŸ›¥ï¸Boats', boats_path, class: "invisLink"  %> | <%= link_to 'ðŸ”«Guns - Recovered', recovered_guns_path, class: "invisLink"  %> | <%= link_to 'ðŸ”«Guns - Stolen', stolen_guns_path, class: "invisLink"  %> | <%= link_to 'ðŸš˜License Plates', license_plates_path, class: "invisLink"  %> | <%= link_to 'ðŸ˜•Missing Persons', missing_people_path, class: "invisLink"  %>
<br> <%= link_to 'ðŸ”©Parts - Vehicles / Boats', vehicle_boat_parts_path, class: "invisLink"  %> | <%= link_to 'ðŸš—Vehicles - Stolen', stolen_vehicles_path, class: "invisLink"  %> | <%= link_to 'ðŸš—Vehicles - Recovered', recovered_vehicles_path, class: "invisLink"  %> | <%= link_to 'ðŸ’²Securities', securities_path, class: "invisLink"  %> | <%= link_to 'ðŸ˜¢Wanted - Persons', wanted_people_path, class: "invisLink"  %>
</p>
<%= link_to 'New Recovered Gun', new_recovered_gun_path, class: "myButton" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>OCA</th>
      <th>Operator</th>
      <th>Officer</th>
      <th>NCIC#</th>
      <th>Make</th>
      <th>Model</th>
      <th>Caliber</th>
      <th>Serial</th>
      <th>Owner Name</th>
      <th>Owner Phone</th>
      <th>Notes</th>
      <th>Date Added</th>
      <th>Date Removed</th>
      <th>Removed by?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recovered_guns.order(date_remove: :asc, oca: :desc, created_at: :desc).each do |recovered_gun| %>
      <% if recovered_gun.date_remove.present? %>
        <tr class = "cleared">
      <% elsif recovered_gun.created_at > DateTime.now.in_time_zone.midnight %>
        <tr class = "new">
      <% end %>
        <td id="oca"><%= recovered_gun.oca %></td>
        <td><%= recovered_gun.operator_name.titleize %></td>
        <td><%= recovered_gun.officer_name.titleize %></td>
        <td><%= recovered_gun.ncic_num %></td>
        <td id="notTooBig"><%= recovered_gun.make %></td>
        <td><%= recovered_gun.model %></td>
        <td><%= recovered_gun.caliber %></td>
        <td><%= recovered_gun.serial %></td>
        <td><%= recovered_gun.owner_name.titleize %></td>
        <td><%= recovered_gun.owner_phone.titleize %></td>
        <td><%= recovered_gun.notes.titleize %></td>
        <td><%= recovered_gun.date_add %></td>
        <td><%= recovered_gun.date_remove %></td>
        <td><%= recovered_gun.remove_by.titleize %></td>
        <td id="smaller"><%= link_to 'View', recovered_gun %></td>
        <td id="smaller"><%= link_to 'Edit', edit_recovered_gun_path(recovered_gun) if recovered_gun.date_remove.empty? %></td>
        <%# <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<p style="text-align: center;">If you have an issue, contact <a href="mailto:csexton@hickorync.gov">ðŸ“§csexton@hickorync.gov</a>.</p>
<p style="text-align: center;"><%= link_to 'ðŸ’©v2.1 2018', '/pages/about' , class: "invisLink" %></p>