<p id="notice"><%= notice %></p>

<p>
  <strong>Oca:</strong>
  <%= @recovered_gun.oca %>
</p>

<p>
  <strong>Operator name:</strong>
  <%= @recovered_gun.operator_name %>
</p>

<p>
  <strong>Officer name:</strong>
  <%= @recovered_gun.officer_name %>
</p>

<p>
  <strong>Ncic num:</strong>
  <%= @recovered_gun.ncic_num %>
</p>

<p>
  <strong>Make:</strong>
  <%= @recovered_gun.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @recovered_gun.model %>
</p>

<p>
  <strong>Caliber:</strong>
  <%= @recovered_gun.caliber %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @recovered_gun.serial %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @recovered_gun.owner_name %>
</p>

<p>
  <strong>Owner phone:</strong>
  <%= @recovered_gun.owner_phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @recovered_gun.notes %>
</p>

<p>
  <strong>Date add:</strong>
  <%= @recovered_gun.date_add %>
</p>

<p>
  <strong>Date remove:</strong>
  <%= @recovered_gun.date_remove %>
</p>

<p>
  <strong>Remove by:</strong>
  <%= @recovered_gun.remove_by %>
</p>

<%= link_to 'Edit', edit_recovered_gun_path(@recovered_gun) %> |
<%= link_to 'Back', recovered_guns_path %>
