<%# All other _form.html.erb files follow same conventions for their respective fields %>
<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p style="text-align: left;">⚠ Please be careful during entry!</p>

  <div class="field">
    <%= form.label :oca, "OCA *" %>
    <%= form.text_field :oca, id: :article_oca %>
  </div>

  <div class="field">
    <%= form.label :operator_name %>
    <%= form.text_field :operator_name, id: :article_operator_name %>
  </div>

  <div class="field">
    <%= form.label :officer_name %>
    <%= form.text_field :officer_name, id: :article_officer_name %>
  </div>

  <div class="field">
    <%= form.label :ncic_num %>
    <%= form.text_field :ncic_num, id: :article_ncic_num %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :article_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :article_model %>
  </div>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial, id: :article_serial %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :article_description %>
  </div>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name, id: :article_owner_name %>
  </div>

  <div class="field">
    <%= form.label :owner_phone %>
    <%= form.text_field :owner_phone, id: :article_owner_phone %>
  </div>

  <div class="field">
    <%= form.label :date_add %>
    <%= form.text_field :date_add, id: :article_date_add %>
  </div>

  <div class="field">
    <%= form.label :date_remove %>
    <%= form.text_field :date_remove, id: :article_date_remove, :readonly => article.date_remove.present? %><%# This and below div aren't required at first %>
  </div>

  <div class="field">
    <%= form.label :remove_by %>
    <%= form.text_field :remove_by, id: :article_remove_by, :readonly => article.remove_by.present? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
