<p id="notice"><%= notice %></p>
<h1 style="text-align: center;"><%= link_to '🚓Citation🚨Book🚨LOG🚓', '/pages/citationMenu', class: "invisLink" %></h1>
<h1 style="text-align: center;"> <%= link_to 'Civil Citations', new_civil_citation_path, class: "invisLink" %></h1>
<p  style="text-align: center;"> <br><%= link_to 'State', state_citations_path, class: "invisLink"  %> | <%= link_to 'Warning', warning_citations_path, class: "invisLink"  %> | <%= link_to 'Parking', parking_citations_path, class: "invisLink"  %> | <%= link_to 'Civil', civil_citations_path, class: "invisLink"  %> |<%= link_to 'Code', code_citations_path, class: "invisLink"  %></p>


<%= link_to 'New Civil Citation', new_civil_citation_path, class: "myButton" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Book #</th>
      <th>Issued To?</th>
      <th>Start C#</th>
      <th>End C#</th>
      <th>Issued Date</th>
      <th>Issue By?</th>
      <th>Return Date?</th>
      <th>Received By?</th>
      <th>Can Reissue?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @civil_citations.order(return_date: :asc, created_at: :desc).each do |civil_citation| %>
      <% if civil_citation.empty.present? %>
        <tr class = "cleared">
      <% elsif civil_citation.created_at > DateTime.now.in_time_zone.midnight %> <%# Sets formatting for new%>
        <tr class = "new">
      <% end %>
        <td><%= civil_citation.book_num %></td>
        <td><%= civil_citation.issued_to %></td>
        <td><%= civil_citation.start_c_num %></td>
        <td><%= civil_citation.end_c_num %></td>
        <td><%= civil_citation.issue_date %></td>
        <td><%= civil_citation.issue_by %></td>
        <td><%= civil_citation.return_date %></td>
        <td><%= civil_citation.return_by %></td>
        <td><%= civil_citation.empty %></td>
        <td id="smaller"><%= link_to 'Show', civil_citation %></td>
        <td id="smaller"><%= link_to 'Edit', edit_civil_citation_path(civil_citation) %></td>
        <td id="smaller"><%= link_to 'Destroy', civil_citation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p style="text-align: center;">If you have an issue, contact <a href="mailto:csexton@hickorync.gov">📧csexton@hickorync.gov</a>.</p>
<p style="text-align: center;"><%= link_to '💩v2.0 2018', '/pages/about' , class: "invisLink" %></p>
