<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @incident.date %>
</p>

<p>
  <strong>Coworker:</strong>
  <%= @incident.coworker %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
