<%= form_with(model: parking_citation, local: true) do |form| %>
  <% if parking_citation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking_citation.errors.count, "error") %> prohibited this parking_citation from being saved:</h2>

      <ul>
      <% parking_citation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p style="text-align: left;">⚠<br>Please be careful during entry,<br>as you will not be able to modify data<br>after it has been submitted.</p>
  <div class="field">
    <%= form.label :book_num, "Citation Book #" %>
    <%= form.text_field :book_num, id: :parking_citation_book_num %>
  </div>

  <div class="field">
    <%= form.label :issued_to, "Issued To ?" %>
    <%= form.text_field :issued_to, id: :parking_citation_issued_to %>
  </div>

  <div class="field">
    <%= form.label :start_c_num, "Starting Citation #" %>
    <%= form.text_field :start_c_num, id: :parking_citation_start_c_num %>
  </div>

  <div class="field">
    <%= form.label :end_c_num, "Ending Citation #" %>
    <%= form.text_field :end_c_num, id: :parking_citation_end_c_num %>
  </div>

  <div class="field">
    <%= form.label :issue_date, "Date Issued?" %>
    <%= form.text_field :issue_date, id: :parking_citation_issue_date %>
  </div>

  <div class="field">
    <%= form.label :issue_by, "Issued By?" %>
    <%= form.text_field :issue_by, id: :parking_citation_issue_by %>
  </div>

  <div class="field">
    <%= form.label :return_date, "Date Returned?" %>
    <%= form.text_field :return_date, id: :parking_citation_return_date, :readonly => parking_citation.return_date.present? %>
  </div>

  <div class="field">
    <%= form.label :return_by, "Returned By?" %>
    <%= form.text_field :return_by, id: :parking_citation_return_by, :readonly => parking_citation.return_by.present? %>
  </div>

  <div class="field">
    <%= form.label :empty, "All Citations in this Book Used?" %>
    <%= form.check_box :empty, id: :parking_citation_empty, :readonly => parking_citation.empty.present? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
