<p id="notice"><%= notice %></p>
<h1> <%= link_to 'HPD NCIC LOG', '/pages/main', class: "invisLink" %></h1>
<h1> <%= link_to 'ðŸš— Recovered Vehicles', new_recovered_vehicle_path, class: "invisLink" %></h1>
<%= link_to 'New Recovered Vehicle', new_recovered_vehicle_path, class: "myButton" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>OCA</th>
      <th>Operator</th>
      <th>Officer</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>License Plate</th>
      <th>Color</th>
      <th>Wrecker</th>
      <th>Date Added</th>
      <th>Date Removed</th>
      <th>Removed by?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recovered_vehicles.order(date_remove: :asc, created_at: :desc).each do |recovered_vehicle| %>
      <% if recovered_vehicle.date_remove.present? %>
        <tr class = "cleared">
      <% elsif recovered_vehicle.created_at > DateTime.now.in_time_zone.midnight %>
        <tr class = "new">
      <% end %>
        <td id="oca"><%= recovered_vehicle.oca %></td>
        <td><%= recovered_vehicle.operator_name.titleize %></td>
        <td><%= recovered_vehicle.officer_name.titleize %></td>
        <td><%= recovered_vehicle.year %></td>
        <td><%= recovered_vehicle.make %></td>
        <td><%= recovered_vehicle.model %></td>
        <td><%= recovered_vehicle.vin %></td>
        <td><%= recovered_vehicle.license_plate %></td>
        <td><%= recovered_vehicle.color %></td>
        <td><%= recovered_vehicle.wrecker.titleize %></td>
        <td><%= recovered_vehicle.date_add %></td>
        <td><%= recovered_vehicle.date_remove %></td>
        <td><%= recovered_vehicle.remove_by.titleize %></td>
        <td id="smaller"><%= link_to 'View', recovered_vehicle %></td>
        <td id="smaller"><%= link_to 'Edit', edit_recovered_vehicle_path(recovered_vehicle) if article.date_remove.empty? %></td>
        <%# <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br><%= link_to 'ðŸš½Articles', articles_path %> | <%= link_to 'ðŸ›¥ï¸Boats', boats_path %> | <%= link_to 'ðŸ”«Guns - Recovered', recovered_guns_path %> | <%= link_to 'ðŸ”«Guns - Stolen', stolen_guns_path %> | <%= link_to 'ðŸš˜License Plates', license_plates_path %> | <%= link_to 'ðŸ˜•Missing Persons', missing_people_path %>
<br> <%= link_to 'ðŸ”©Parts - Vehicles / Boats', vehicle_boat_parts_path %> | <%= link_to 'ðŸš—Vehicles - Stolen', stolen_vehicles_path %> | <%= link_to 'ðŸš—Vehicles - Recovered', recovered_vehicles_path %> | <%= link_to 'ðŸ’²Securities', securities_path %> | <%= link_to 'ðŸ˜¢Wanted - Persons', wanted_people_path %>