<p id="notice"><%= notice %></p>

<h1>Civil Citaions</h1>

<table>
  <thead>
    <tr>
      <th>Book num</th>
      <th>Issued to</th>
      <th>Start c num</th>
      <th>End c num</th>
      <th>Issue date</th>
      <th>Issue by</th>
      <th>Return date</th>
      <th>Return by</th>
      <th>Empty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @civil_citaions.each do |civil_citaion| %>
      <tr>
        <td><%= civil_citaion.book_num %></td>
        <td><%= civil_citaion.issued_to %></td>
        <td><%= civil_citaion.start_c_num %></td>
        <td><%= civil_citaion.end_c_num %></td>
        <td><%= civil_citaion.issue_date %></td>
        <td><%= civil_citaion.issue_by %></td>
        <td><%= civil_citaion.return_date %></td>
        <td><%= civil_citaion.return_by %></td>
        <td><%= civil_citaion.empty %></td>
        <td><%= link_to 'Show', civil_citaion %></td>
        <td><%= link_to 'Edit', edit_civil_citaion_path(civil_citaion) %></td>
        <td><%= link_to 'Destroy', civil_citaion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Civil Citaion', new_civil_citaion_path %>
