<p id="notice"><%= notice %></p>

<p>
  <strong>Book num:</strong>
  <%= @civil_citaion.book_num %>
</p>

<p>
  <strong>Issued to:</strong>
  <%= @civil_citaion.issued_to %>
</p>

<p>
  <strong>Start c num:</strong>
  <%= @civil_citaion.start_c_num %>
</p>

<p>
  <strong>End c num:</strong>
  <%= @civil_citaion.end_c_num %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @civil_citaion.issue_date %>
</p>

<p>
  <strong>Issue by:</strong>
  <%= @civil_citaion.issue_by %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @civil_citaion.return_date %>
</p>

<p>
  <strong>Return by:</strong>
  <%= @civil_citaion.return_by %>
</p>

<p>
  <strong>Empty:</strong>
  <%= @civil_citaion.empty %>
</p>

<%= link_to 'Edit', edit_civil_citaion_path(@civil_citaion) %> |
<%= link_to 'Back', civil_citaions_path %>
