<%= form_with(model: stolen_vehicle, local: true) do |form| %>
  <% if stolen_vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stolen_vehicle.errors.count, "error") %> prohibited this stolen_vehicle from being saved:</h2>

      <ul>
      <% stolen_vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :oca %>
    <%= form.text_field :oca, id: :stolen_vehicle_oca , :required => true, :readonly =>stolen_vehicle.oca.present? %>
  </div>

  <div class="field">
    <%= form.label :operator_name %>
    <%= form.text_field :operator_name, id: :stolen_vehicle_operator_name , :required => true, :readonly =>stolen_vehicle.operator_name.present? %>
  </div>

  <div class="field">
    <%= form.label :officer_name %>
    <%= form.text_field :officer_name, id: :stolen_vehicle_officer_name , :required => true, :readonly =>stolen_vehicle.officer_name.present? %>
  </div>

  <div class="field">
    <%= form.label :ncic_num %>
    <%= form.text_field :ncic_num, id: :stolen_vehicle_ncic_num , :required => true, :readonly =>stolen_vehicle.ncic_num.present? %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :stolen_vehicle_year , :required => true, :readonly =>stolen_vehicle.year.present? %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :stolen_vehicle_make , :required => true, :readonly =>stolen_vehicle.make.present? %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :stolen_vehicle_model , :required => true, :readonly =>stolen_vehicle.model.present? %>
  </div>

  <div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin, id: :stolen_vehicle_vin , :required => true, :readonly =>stolen_vehicle.vin.present? %>
  </div>

  <div class="field">
    <%= form.label :license_plate %>
    <%= form.text_field :license_plate, id: :stolen_vehicle_license_plate , :required => true, :readonly =>stolen_vehicle.license_plate.present? %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :stolen_vehicle_color , :required => true, :readonly =>stolen_vehicle.color.present? %>
  </div>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name, id: :stolen_vehicle_owner_name , :required => true, :readonly =>stolen_vehicle.owner_name.present? %>
  </div>

  <div class="field">
    <%= form.label :owner_phone %>
    <%= form.text_field :owner_phone, id: :stolen_vehicle_owner_phone , :required => true, :readonly =>stolen_vehicle.owner_phone.present? %>
  </div>

  <div class="field">
    <%= form.label :date_add %>
    <%= form.text_field :date_add, id: :stolen_vehicle_date_add , :required => true, :readonly =>stolen_vehicle.date_add.present? %>
  </div>

  <div class="field">
    <%= form.label :date_remove %>
    <%= form.text_field :date_remove, id: :stolen_vehicle_date_remove, :readonly =>stolen_vehicle.date_remove.present? %>
  </div>

  <div class="field">
    <%= form.label :remove_by %>
    <%= form.text_field :remove_by, id: :stolen_vehicle_remove_by, :readonly =>stolen_vehicle.remove_by.present? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
