<p id="notice"><%= notice %></p>
<h1>HPD NCIC LOG</h1>
<h1>Stolen Vehicles</h1>

<table>
  <thead>
    <tr>
      <th id="ncicNames">|OCA</th>
      <th id="ncicNames">|Operator</th>
      <th id="ncicNames">|Officer</th>
      <th id="ncicNames">|NCIC#</th>
      <th id="ncicNames">|Year</th>
      <th id="ncicNames">|Make</th>
      <th id="ncicNames">|Model</th>
      <th id="ncicNames">|Vin</th>
      <th id="ncicNames">|License Plate</th>
      <th id="ncicNames">|Color</th>
      <th id="ncicNames">|Owner Name</th>
      <th id="ncicNames">|Owner Phone</th>
      <th id="ncicNames">|Date Added</th>
      <th id="ncicNames">|Date Removed</th>
      <th id="ncicNames">|Remove by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stolen_vehicles.each do |stolen_vehicle| %>
      <tr>
        <td id="ncicNames"><%= stolen_vehicle.oca %></td>
        <td id="ncicNames"><%= stolen_vehicle.operator_name %></td>
        <td id="ncicNames"><%= stolen_vehicle.officer_name %></td>
        <td id="ncicNames"><%= stolen_vehicle.ncic_num %></td>
        <td id="ncicNames"><%= stolen_vehicle.year %></td>
        <td id="ncicNames"><%= stolen_vehicle.make %></td>
        <td id="ncicNames"><%= stolen_vehicle.model %></td>
        <td id="ncicNames"><%= stolen_vehicle.vin %></td>
        <td id="ncicNames"><%= stolen_vehicle.license_plate %></td>
        <td id="ncicNames"><%= stolen_vehicle.color %></td>
        <td id="ncicNames"><%= stolen_vehicle.owner_name %></td>
        <td id="ncicNames"><%= stolen_vehicle.owner_phone %></td>
        <td id="ncicNames"><%= stolen_vehicle.date_add %></td>
        <td id="ncicNames"><%= stolen_vehicle.date_remove %></td>
        <td id="ncicNames"><%= stolen_vehicle.remove_by %></td>
        <td><%= link_to 'Show', stolen_vehicle %></td>
        <td><%= link_to 'Edit', edit_stolen_vehicle_path(stolen_vehicle) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stolen Vehicle', new_stolen_vehicle_path %>
<br>
<br>
<%= link_to 'Home', '/' %>
<br>
<br><%= link_to 'Articles', articles_path %>
<br><%= link_to 'Boats', boats_path %>
<br><%= link_to 'Guns - Recovered', recovered_guns_path %>
<br><%= link_to 'Guns - Stolen', stolen_guns_path %>
<br><%= link_to 'License Plates', license_plates_path %>
<br><%= link_to 'Missing Persons', missing_people_path %>
<br><%= link_to 'Parts - Vehicles / Boats', vehicle_boat_parts_path %>
<br><%= link_to 'Vehicles - Stolen', stolen_vehicles_path %>
<br><%= link_to 'Vehicles - Recovered', recovered_vehicles_path %>
<br><%= link_to 'Securities', securities_path %>
<br><%= link_to 'Wanted - Persons', wanted_people_path %>
