<html>
<h1 style="text-align: center;"><%= link_to('/pages/menu', class: "invisLink") do %>
                                🚓Citation Book🚓
                                <br>  <br>
                                🚨LOG🚨
                                <% end %></h1>
<h3 style="text-align: center;">For All Your Logging Needs!</h3>
<p style="text-align: center;">Click on a link to the appropriate log page.</p>
<h1 style="text-align: center;">NOTICE: This section is in testing. All data will be wiped prior to implementation.</h1>
<h3 style="text-align: center;">
<%= link_to 'State Citations', '/state_citations', class: "invisLink" %> <br>
<%= link_to 'Warning Citations', '/warning_citations', class: "invisLink" %> <br>
<%= link_to 'Parking Citations', '/parking_citations', class: "invisLink" %> <br>
<%= link_to 'Civil Citations', '/civil_citations', class: "invisLink" %> <br>
<%= link_to 'Code Enforcement Citations', '/code_citations', class: "invisLink" %> <br>
</h3>
<p style="text-align: center;">If you have an issue, contact <a href="mailto:csexton@hickorync.gov">📧csexton@hickorync.gov</a>.</p>
<p style="text-align: center;"><%= link_to '💩v2.0 2018', '/pages/about' , class: "invisLink" %></p>
</html>