<html>
<h1 style="text-align: center;"><%= link_to 'ðŸš“NCICðŸš¨LOGðŸš“', '/pages/menu' , class: "invisLink" %></h1>
<h3 style="text-align: center;">For All Your Logging Needs!</h3>
<p style="text-align: center;">Click on a link to the appropriate log page.</p>
<h3 style="text-align: center;">
<br>
<br><%= link_to 'ðŸš½ Articles', '/articles', class: "invisLink" %>
<br><%= link_to 'ðŸ›¥ï¸ Boats!', '/boats', class: "invisLink" %>
<br><%= link_to 'ðŸ”« Guns - Recovered', '/recovered_guns', class: "invisLink" %>
<br><%= link_to 'ðŸ”« Guns - Lost / Stolen', '/stolen_guns', class: "invisLink" %>
<br><%= link_to 'ðŸš˜ License Plates', '/license_plates', class: "invisLink" %>
<br><%= link_to 'ðŸ˜• Missing People', '/missing_people', class: "invisLink" %>
<br><%= link_to 'ðŸ”© Parts - Vehicles / Boats', '/vehicle_boat_parts', class: "invisLink" %>
<br><%= link_to 'ðŸš— Vehicles - Stolen', '/stolen_vehicles', class: "invisLink" %>
<br><%= link_to 'ðŸš— Vehicles - Recovered', '/recovered_vehicles', class: "invisLink" %>
<br><%= link_to 'ðŸ’² Securities', '/securities', class: "invisLink" %>
<br><%= link_to 'ðŸ˜¢ Wanted - Persons', '/wanted_people', class: "invisLink" %>
</h3>

<p style="text-align: center;">If you have an issue, contact <a href="mailto:csexton@hickorync.gov">ðŸ“§csexton@hickorync.gov</a>.</p>
<p style="text-align: center;"><%= link_to 'ðŸ’©v2.1 2018', '/pages/about' , class: "invisLink" %></p>

</html>
