<p id="notice"><%= notice %></p>
<h1>HPD NCIC LOG</h1>
<h1>😢 Wanted Persons</h1>
<%= link_to 'Main Menu', '/pages/about' %>
<br>
<br>
<%= link_to 'New Wanted Person', new_wanted_person_path %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>|OCA</th>
      <th>|Operator</th>
      <th>|Officer</th>
      <th>|NCIC#</th>
      <th>|Description</th>
      <th>|Wanted By?</th>
      <th>|Owner Phone</th>
      <th>|Date Added</th>
      <th>|Date Removed</th>
      <th>|Removed by?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wanted_people.sort { |a,b| a.date_remove <=> b.date_remove }.each do |wanted_person| %>
      <tr>
        <td><%= wanted_person.oca %></td>
        <td><%= wanted_person.operator_name.titleize %></td>
        <td><%= wanted_person.officer_name.titleize %></td>
        <td><%= wanted_person.ncic_num %></td>
        <td><%= wanted_person.description.titleize %></td>
        <td><%= wanted_person.owner_name.titleize %></td>
        <td><%= wanted_person.owner_phone.titleize %></td>
        <td><%= wanted_person.date_add %></td>
        <td><%= wanted_person.date_remove %></td>
        <td><%= wanted_person.remove_by.titleize %></td>
        <td><%= link_to 'Show', wanted_person %></td>
        <td><%= link_to 'Edit', edit_wanted_person_path(wanted_person) %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br><%= link_to 'Articles', articles_path %> | <%= link_to 'Boats', boats_path %> | <%= link_to 'Guns - Recovered', recovered_guns_path %> | <%= link_to 'Guns - Stolen', stolen_guns_path %> | <%= link_to 'License Plates', license_plates_path %> | <%= link_to 'Missing Persons', missing_people_path %>
<br> <%= link_to 'Parts - Vehicles / Boats', vehicle_boat_parts_path %> | <%= link_to 'Vehicles - Stolen', stolen_vehicles_path %> | <%= link_to 'Vehicles - Recovered', recovered_vehicles_path %> | <%= link_to 'Securities', securities_path %> | <%= link_to 'Wanted - Persons', wanted_people_path %>
