<p id="notice"><%= notice %></p>
<h1 style="text-align: center;"><%= link_to '🚓Citation🚨Book🚨LOG🚓', '/pages/citationMenu', class: "invisLink" %></h1>
<h1 style="text-align: center;"> <%= link_to 'Code Citations', new_code_citation_path, class: "invisLink" %></h1>
<p  style="text-align: center;"> <br><%= link_to 'State', state_citations_path, class: "invisLink"  %> | <%= link_to 'Warning', warning_citations_path, class: "invisLink"  %> | <%= link_to 'Parking', parking_citations_path, class: "invisLink"  %> | <%= link_to 'Civil', civil_citations_path, class: "invisLink"  %> |<%= link_to 'Code', code_citations_path, class: "invisLink"  %></p>

<%= link_to 'New Code Citation', new_code_citation_path, class: "myButton" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Book #</th>
      <th>Issued To?</th>
      <th>Start C#</th>
      <th>End C#</th>
      <th>Issued Date</th>
      <th>Issue By?</th>
      <th>Return Date?</th>
      <th>Received By?</th>
      <th>Can Be Reassigned?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_citations.order(empty: :asc, created_at: :desc).each do |code_citation| %>
      <% if code_citation.empty == "1" %> <%# Sets formatting for Cleared %>
        <tr class = "cleared">
      <% elsif code_citation.created_at > DateTime.now.in_time_zone.midnight %> <%# Sets formatting for new%>
        <tr class = "new">
      <% end %>
        <td><%= code_citation.book_num %></td>
        <td><%= code_citation.issued_to %></td>
        <td><%= code_citation.start_c_num %></td>
        <td><%= code_citation.end_c_num %></td>
        <td><%= code_citation.issue_date %></td>
        <td><%= code_citation.issue_by %></td>
        <td><%= code_citation.return_date %></td>
        <td><%= code_citation.return_by %></td>
        <td><%= if code_citation.empty == "1" then "No" else "Yes"; end  %></td>
        <td><%= link_to 'View', code_citation %></td>
        <td><%= link_to 'Edit', edit_code_citation_path(code_citation) %></td>
        <td><%#= link_to 'Destroy', code_citation, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p style="text-align: center;">If you have an issue, contact <a href="mailto:csexton@hickorync.gov">📧csexton@hickorync.gov</a>.</p>
<p style="text-align: center;"><%= link_to '💩v2.1 2018', '/pages/about' , class: "invisLink" %></p>
