<%= form_with(model: security, local: true) do |form| %>
  <% if security.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(security.errors.count, "error") %> prohibited this security from being saved:</h2>

      <ul>
      <% security.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p style="text-align: left;">⚠<br>Please be careful during entry,<br>as you will not be able to modify data<br>after it has been submitted.</p>
  <div class="field">
    <%= form.label :oca %>
    <%= form.text_field :oca, id: :security_oca %>
  </div>

  <div class="field">
    <%= form.label :operator_name %>
    <%= form.text_field :operator_name, id: :security_operator_name %>
  </div>

  <div class="field">
    <%= form.label :officer_name %>
    <%= form.text_field :officer_name, id: :security_officer_name %>
  </div>

  <div class="field">
    <%= form.label :ncic_num %>
    <%= form.text_field :ncic_num, id: :security_ncic_num %>
  </div>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial, id: :security_serial %>
  </div>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name, id: :security_owner_name %>
  </div>

  <div class="field">
    <%= form.label :owner_phone %>
    <%= form.text_field :owner_phone, id: :security_owner_phone %>
  </div>

  <div class="field">
    <%= form.label :date_add %>
    <%= form.text_field :date_add, id: :security_date_add %>
  </div>

  <div class="field">
    <%= form.label :date_remove %>
    <%= form.text_field :date_remove, id: :security_date_remove, :readonly =>security.date_remove.present? %>
  </div>

  <div class="field">
    <%= form.label :remove_by %>
    <%= form.text_field :remove_by, id: :security_remove_by, :readonly =>security.remove_by.present? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
