<p id="notice"><%= notice %></p>

<p>
  <strong>Book num:</strong>
  <%= @state_citaion.book_num %>
</p>

<p>
  <strong>Issued to:</strong>
  <%= @state_citaion.issued_to %>
</p>

<p>
  <strong>Start c num:</strong>
  <%= @state_citaion.start_c_num %>
</p>

<p>
  <strong>End c num:</strong>
  <%= @state_citaion.end_c_num %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @state_citaion.issue_date %>
</p>

<p>
  <strong>Issue by:</strong>
  <%= @state_citaion.issue_by %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @state_citaion.return_date %>
</p>

<p>
  <strong>Return by:</strong>
  <%= @state_citaion.return_by %>
</p>

<p>
  <strong>Empty:</strong>
  <%= @state_citaion.empty %>
</p>

<%= link_to 'Edit', edit_state_citaion_path(@state_citaion) %> |
<%= link_to 'Back', state_citaions_path %>
