<%= form_with(model: vehicle_boat_part, local: true) do |form| %>
  <% if vehicle_boat_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle_boat_part.errors.count, "error") %> prohibited this vehicle_boat_part from being saved:</h2>

      <ul>
      <% vehicle_boat_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p style="text-align: left;">⚠<br>Please be careful during entry,<br>as you will not be able to modify data<br>after it has been submitted.</p>
  <div class="field">
    <%= form.label :oca %>
    <%= form.text_field :oca, id: :vehicle_boat_part_oca %>
  </div>

  <div class="field">
    <%= form.label :operator_name %>
    <%= form.text_field :operator_name, id: :vehicle_boat_part_operator_name %>
  </div>

  <div class="field">
    <%= form.label :officer_name %>
    <%= form.text_field :officer_name, id: :vehicle_boat_part_officer_name %>
  </div>

  <div class="field">
    <%= form.label :ncic_num %>
    <%= form.text_field :ncic_num, id: :vehicle_boat_part_ncic_num %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :vehicle_boat_part_description %>
  </div>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name, id: :vehicle_boat_part_owner_name %>
  </div>

  <div class="field">
    <%= form.label :owner_phone %>
    <%= form.text_field :owner_phone, id: :vehicle_boat_part_owner_phone %>
  </div>

  <div class="field">
    <%= form.label :date_add %>
    <%= form.text_field :date_add, id: :vehicle_boat_part_date_add %>
  </div>

  <div class="field">
    <%= form.label :date_remove %>
    <%= form.text_field :date_remove, id: :vehicle_boat_part_date_remove, :readonly =>vehicle_boat_part.date_remove.present? %>
  </div>

  <div class="field">
    <%= form.label :remove_by %>
    <%= form.text_field :remove_by, id: :vehicle_boat_part_remove_by, :readonly =>vehicle_boat_part.remove_by.present? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
