<p id="notice"><%= notice %></p>
<h1> <%= link_to 'HPD NCIC LOG', '/pages/about', class: "invisLink" %></h1>
<h1> <%= link_to '🛥️ Boats', new_boat_path, class: "invisLink" %></h1>
Boats only! No hoes, please. 👍 <br> <br>
<%= link_to 'New Boat', new_boat_path, class: "myButton" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>OCA</th>
      <th>Operator</th>
      <th>Officer</th>
      <th>NCIC#</th>
      <th>Description</th>
      <th>Owner Name</th>
      <th>Owner Phone</th>
      <th>Date Added</th>
      <th>Date Removed</th>
      <th>Removed by?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boats.order(date_remove: :asc, created_at: :desc).each do |boat| %>
    	<% if boat.date_remove.present? %>
        <tr class = "cleared">
      <% elsif boat.created_at > DateTime.now.in_time_zone.midnight %>
        <tr class = "new">
      <% end %>
        <td id="oca"><%= boat.oca %></td>
        <td><%= boat.operator_name.titleize %></td>
        <td><%= boat.officer_name.titleize %></td>
        <td><%= boat.ncic_num %></td>
        <td><%= boat.description.titleize %></td>
        <td><%= boat.owner_name.titleize %></td>
        <td><%= boat.owner_phone.titleize %></td>
        <td><%= boat.date_add %></td>
        <td><%= boat.date_remove %></td>
        <td><%= boat.remove_by.titleize %></td>
        <td id="smaller"><%= link_to 'View', boat %></td>
        <td id="smaller"><%= link_to 'Edit', edit_boat_path(boat) if boat.date_remove.empty? %></td>
        <%# <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>


<br><%= link_to 'Articles', articles_path %> | <%= link_to 'Boats', boats_path %> | <%= link_to 'Guns - Recovered', recovered_guns_path %> | <%= link_to 'Guns - Stolen', stolen_guns_path %> | <%= link_to 'License Plates', license_plates_path %> | <%= link_to 'Missing Persons', missing_people_path %>
<br> <%= link_to 'Parts - Vehicles / Boats', vehicle_boat_parts_path %> | <%= link_to 'Vehicles - Stolen', stolen_vehicles_path %> | <%= link_to 'Vehicles - Recovered', recovered_vehicles_path %> | <%= link_to 'Securities', securities_path %> | <%= link_to 'Wanted - Persons', wanted_people_path %>
