<p id="notice"><%= notice %></p>

<h1>Warning Citaions</h1>

<table>
  <thead>
    <tr>
      <th>Book num</th>
      <th>Issued to</th>
      <th>Start c num</th>
      <th>End c num</th>
      <th>Issue date</th>
      <th>Issue by</th>
      <th>Return date</th>
      <th>Return by</th>
      <th>Empty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warning_citaions.each do |warning_citaion| %>
      <tr>
        <td><%= warning_citaion.book_num %></td>
        <td><%= warning_citaion.issued_to %></td>
        <td><%= warning_citaion.start_c_num %></td>
        <td><%= warning_citaion.end_c_num %></td>
        <td><%= warning_citaion.issue_date %></td>
        <td><%= warning_citaion.issue_by %></td>
        <td><%= warning_citaion.return_date %></td>
        <td><%= warning_citaion.return_by %></td>
        <td><%= warning_citaion.empty %></td>
        <td><%= link_to 'Show', warning_citaion %></td>
        <td><%= link_to 'Edit', edit_warning_citaion_path(warning_citaion) %></td>
        <td><%= link_to 'Destroy', warning_citaion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warning Citaion', new_warning_citaion_path %>
