<p id="notice"><%= notice %></p>

<p>
  <strong>Book num:</strong>
  <%= @warning_citaion.book_num %>
</p>

<p>
  <strong>Issued to:</strong>
  <%= @warning_citaion.issued_to %>
</p>

<p>
  <strong>Start c num:</strong>
  <%= @warning_citaion.start_c_num %>
</p>

<p>
  <strong>End c num:</strong>
  <%= @warning_citaion.end_c_num %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @warning_citaion.issue_date %>
</p>

<p>
  <strong>Issue by:</strong>
  <%= @warning_citaion.issue_by %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @warning_citaion.return_date %>
</p>

<p>
  <strong>Return by:</strong>
  <%= @warning_citaion.return_by %>
</p>

<p>
  <strong>Empty:</strong>
  <%= @warning_citaion.empty %>
</p>

<%= link_to 'Edit', edit_warning_citaion_path(@warning_citaion) %> |
<%= link_to 'Back', warning_citaions_path %>
